* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	display: flex;
	justify-content: center;
	align-items: center;
}
body, ul, ol, dl {
	margin: 0;
}
.container {
	display: flex;
	margin-top: 200px;
	flex-direction: column;
}
.result {
	border: 2px solid black;
}
.lower {
	display: flex;
}
.numbers {
	display: grid;
	grid-template-columns: repeat(3, 100px);
}
.numbers > * {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.functions {
	display: flex;
	flex-direction: column;
}
.functions > * {
	height: 80px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
}